@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 300;
	src:
		local(''),
		/* from  */
		url('Open+Sans_300.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_300.woff') format('woff'),
		/* from  */
		url('Open+Sans_300.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_300.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local(''),
		/* from  */
		url('Open+Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_400.woff') format('woff'),
		/* from  */
		url('Open+Sans_400.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_400.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local(''),
		/* from  */
		url('Open+Sans_700.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_700.woff') format('woff'),
		/* from  */
		url('Open+Sans_700.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_700.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: italic;
	font-weight: 300;
	src:
		local(''),
		/* from  */
		url('Open+Sans_300italic.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_300italic.woff') format('woff'),
		/* from  */
		url('Open+Sans_300italic.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_300italic.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local(''),
		/* from  */
		url('Open+Sans_400italic.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_400italic.woff') format('woff'),
		/* from  */
		url('Open+Sans_400italic.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_400italic.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: italic;
	font-weight: 700;
	src:
		local(''),
		/* from  */
		url('Open+Sans_700italic.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_700italic.woff') format('woff'),
		/* from  */
		url('Open+Sans_700italic.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_700italic.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 600;
	src:
		local(''),
		/* from  */
		url('Open+Sans_600.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_600.woff') format('woff'),
		/* from  */
		url('Open+Sans_600.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_600.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: normal;
	font-weight: 800;
	src:
		local(''),
		/* from  */
		url('Open+Sans_800.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_800.woff') format('woff'),
		/* from  */
		url('Open+Sans_800.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_800.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: italic;
	font-weight: 600;
	src:
		local(''),
		/* from  */
		url('Open+Sans_600italic.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_600italic.woff') format('woff'),
		/* from  */
		url('Open+Sans_600italic.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_600italic.svg#') format('svg');
}
@font-face {
	font-family: 'Open+Sans';
	font-style: italic;
	font-weight: 800;
	src:
		local(''),
		/* from  */
		url('Open+Sans_800italic.eot?#iefix') format('embedded-opentype'),
		/* from  */
		url('Open+Sans_800italic.woff') format('woff'),
		/* from  */
		url('Open+Sans_800italic.ttf') format('truetype'),
		/* from  */
		url('Open+Sans_800italic.svg#') format('svg');
}
