/*
Copyright (c) 2010-2016 Carlos Omar Villanueva

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

#error {
-moz-border-radius:10px;
-moz-box-shadow:0 0 2px 2px #fcc;
-webkit-border-radius:10px;
-webkit-box-shadow:0 0 2px 2px #fcc;
background-color:#FFC0CB;
border:1px solid #FA8072;
border-radius:10px;
box-shadow:0 0 2px 2px #fcc;
color:#800;
font-weight:700;
margin:5px auto;
padding:5px;
text-transform:capitalize;
width:100px;
}

#login {
-moz-border-radius:10px;
-moz-box-shadow:0 0 5px 5px #111;
-webkit-border-radius:10px;
-webkit-box-shadow:0 0 5px 5px #111;
background-color:#fff;
background-image:url(/_img/interface/shade_bottom.png);
background-position:left bottom;
background-repeat:repeat-x;
border:4px solid #009cff;
border-radius:10px;
box-shadow:0 0 5px 5px #111;
margin:0 auto;
padding:10px;
text-align:center;
width:345px;
}

.copyright {
font-family:sans-serif;
font-size:8pt;
margin-top:35px;
}

.login {
padding:10px 0;
}

.recovercreds {
margin-top:10px;
}

a {
cursor:default;
text-decoration:underline;
}

body {
background-color:#303030;
background-image:url(/_img/interface/panel.png);
font-family:"Open Sans",sans-serif;
font-size:10pt;
font-weight:400;
}

input[type=button],input[type=submit] {
-moz-border-radius:5px;
-webkit-border-radius:5px;
background-color:#fafafa;
border:1px solid silver;
border-radius:5px;
color:#636363;
font-weight:400;
padding:6px 8px;
}


input {
margin:4px auto;
display:block;
width:80%;
}

input[type=button]:disabled,input[type=submit]:disabled {
border:1px solid #fff;
border-radius:2px;
color:#d0d0d0;
}

input[type=button]:hover:enabled,input[type=submit]:hover:enabled {
-moz-box-shadow:0 0 1px 1px #95C2DB;
-webkit-box-shadow:0 0 1px 1px #95C2DB;
background-color:#D5FCFF;
border:1px solid #009CFF;
box-shadow:0 0 1px 1px #95C2DB;
color:#03434C;
}

input[type=password],input[type=text] {
margin:auto;
display:block;
width:80% !important;
}

input[type=text],input[type=password] {
padding-left:4px;
}

label {
display:block;
font-weight:600;
margin:5px auto;
}

select,input[type=text],input[type=password] {
-moz-border-radius:5px;
-moz-box-shadow:inset 0 0 1px rgba(0,0,0,0.3);
-webkit-border-radius:5px;
-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.3);
background-color:#fff;
border:1px solid silver;
border-radius:5px;
box-shadow:inset 0 0 1px rgba(0,0,0,0.3);
color:#404040;
font-size:12pt;
font-weight:700;
height:25px;
outline:0;
text-align:center;
}